groq
crew
openai
openai-swarm
chromadb
python-dotenv
langgraph
langchain
langchain-groq
langchain-core
langchain-openai
langchain-community
sentence-transformers
langchain-huggingface
langchain-experimental
ipykernel
pydantic
black
datasets
scipy
pandas
numpy
tiktoken
pypdf
scikit-learn
tqdm
accelerate
httpx